.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding: 1.5em;

    width: 85%;

    margin-top: auto;

    border: none;
    border-radius: 20px;

    &__img{

        margin-top: auto;

        &-content{
            position: relative;
        }
        &-1{
            position: absolute;
            bottom: 20px;
            right: 2px;
        }
    }
}